    .fileArea{
        width: auto;
        height: auto;
        background: red;
        background: #eee;
        border: solid 2px #aaa;
        border-radius: 4px;
        color: #aaa;
        font-size: zh;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }