


.pageProjectTime{
	.hearderBtns{
		float: right;
		
		.sortBtn, .filterBtn{
			display:none;
		}
		.addBtn{

		}
	}

	.leftContainer{
		width: 25%;
		float: left;

		.leftlist{
			padding-top: 10px;
			width: 100%;

			.panel{
				margin-bottom: 0;
			}
		}
	}

	.taskDetail{
		float: right;
    	margin-top: 10px;
    	width: 75%;
    	border-left: solid 10px white;

    	.taskDesc{
    	    float: left;
		    position: relative;
		    width:  50%;

		    label{
		    	clear: both;
			    float: left;
		    }

		    textarea{
		    	float: left; 
		    	clear: both; 
		    	width: 90%;
		    	height: 200px;
		    }
    	}

    	.taskInfo{
    		float: left;

    		.line{
		        margin-top: 4px;
			    float: left;
			    clear: both;

			    label{
			    	float:left;
				    width: 80px;
			    }

			    input{
		    	    float: left;
				    border-radius: 0;
				    width: 165px;
				    height:26px;
			    }
			    .datetime{
			    	float: left;
			    }
    		}
    	}
	}

	.createProjectPopup{
		.mask{
			background: black;
		    opacity: 0.5;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 100;
		}

		.panel{
			width: 400px;
		    height: 400px;
		    z-index: 101;
		    position: absolute;
		    top: 50%;
		    margin-top: -200px;
		    left: 50%;
		    margin-left: -200px;

		    .closeBtn{
		    	float: right;
			    width: auto;
			    height: 20px;
			    cursor: pointer;
		    }

		    .panel-body{
		        height: 310px;
    			overflow-y: scroll;

    			ul, li{
					list-style-type: none;
    			}

    			>ul>li>ul{
    				padding-left: 20px;
    			}
		    }

		    .footer{
		    	float: right;
		    	margin-top: 10px;

		    	.btn{
		    		padding: 5px 10px;
		            font-size: 12px;
		            line-height: 1.4;
		            border-radius: 3px;
		            margin-right: 5px;
		    	}
		    }
		}
	}

	.createsubprojectpopup{
		.line{
			clear: both;
		    margin-top: 5px;
		    height: 30px; 

		    input.name{
			    height: 22px;
			    font-size: 13px;
		        padding-left: 8px;
			    box-sizing: content-box;
			    width: 159px;
		    }
		}
		.block{
			clear: both;
			margin-top: 5px;
		}
		label{
			float: left;
			width: 100px;
		}
		.projectDropdown{
		    width: 172px;

		    button{
			    background: white;
			    width: 100%;

			    .caret{
				    float: right;
				    margin-top: 8px;
			    }
		    }

		    > ul li input, 
		    > ul li a{
		    	color: #a7a7a7;
		    }
		}
	}
}
