
.attachmentList{
	.addBtn{
	    clear: both;
	    float: left;
	    margin: 5px 0;
	}

	.row{
		clear: both;

		.thumbnail{
			
			padding-bottom:0;
			>img{
				height: 150px;
			}
			>span{
				height: 150px;
				display:block;
				
				&:before{
				    display: block;
				    line-height: 160px;
				}
			}

			.caption{
				color: #777;

				h3{
					margin-top: 5px;
    				margin-bottom: 5px;
				    font-size: 16px;
				}
				h4{
					margin: 0;
				    font-size: 12px;
				    font-weight: normal;
				    word-wrap: break-word;
		            white-space: normal;
				}
				h5{
					margin:10px 0 0 0;

					.btn{
						width:45%;
					}
					.btn-default{
						margin-left:5px;
					}
				}
			}

			&.load{
				h5, h4{
					visibility: hidden
				}
				>span{
					>span{
						line-height: 210px;
					}
				}
			}
			&.fail{
				h5{
					visibility: hidden
				}
				h4{
					color: red;
				}
				>span{
					>span{
						font-size: 28px;
						color: red;
						line-height: 160px;
					}
				}
			}
		}
	}
}