.react-colorpicker-picker{
	z-index:10000;
}
form.upload{
	display:none;
}

.pageHome{
	.row{
		.item{
			cursor: pointer;
		}
	}
}

.radioGroup{
	.item{
		float:left;

		label{
			float:none;
		}

		input[type="radio"]{
			margin: 0 5px;
		}
	}
}



.pageTask{
	.taskList{
	    background-color: #ccc;
	    border: solid 3px #ddd;
	    border-radius: 4px 4px 0 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    height: 50px;
	    width: 100%;
	    display: block;
	    margin: 0 0 10px 0;

	    .addTaskBtn{
		    background-color: #337ab7;
		    padding: 1.2em 1.6em 1.4em;
		    margin: 0 5px 2px 5px;
		    float: left;
		    cursor:pointer;
	    }
	    .task{
		    margin-top: 3px;
		    margin-left: 2px;
		    float: left;
		    cursor:pointer;
		    text-decoration:none;
	        display: inline;
		    padding: .2em .6em .3em;
		    font-size: 75%;
		    font-weight: 700;
		    line-height: 1;
		    color: #fff;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: baseline;
		    border-radius: .25em;
	    }
	}

	.taskPopup{
		padding-bottom: 100px;
		
		.line2{
			margin-top: 30px;
			clear: both;
			float: left;

			>label{
				width: 100%;
			}
		}
		.line{
		    margin-top: 10px;
		    clear: both;
		    float: left;

		    >label{
		    	width: 100px;
		    	float:left;
		    }

		    &.name input{
				border-radius: 4px;
			    box-shadow: none;
			    border: solid 1px #ccc;
			    height: 34px;
			    margin-top: -4px;
			    padding: 0 5px;
		    }

		    &.desc textarea{
	    	    width: 300px;
			    height: 150px;
			    border: solid 1px #ccc;
			    border-radius: 4px;
			    padding: 5px;
		    }

		    .datetime{
		    	width: 172px;
			    float: left;
			    margin-top: -6px;
		    }

	    	.cdropdown button{
	    	    border-radius: 2px;
	    	    width: 150px;

	    	    .caret{
	    	        float: right;
					margin-top: 7px;

	    	    }
	    	}


	    	.listContainer{
	    		float:left;
	    		width: 550px;

	    		.list-group{
		    		margin-bottom: 0;

		    		.list-group-item{
		    			height: 43px;

		    			.radioGroup{
		    				float:right;
		    			}

	    				button.btn{
	    					float:right;
						    margin: 0 5px;
							padding: 0 10px;
						}
		    		}
		    	}
		    }

		    &.privacy{
		    	.options{
		    		float: left;
		    		label, input{
		    			margin: 0 5px 0 0;
		    		}
		    	}
		    }

		    &.attachedFiles{
		    	.attachmentList{
		    		float:left;
		    		width: 550px;
		    		
		    	}
		    }

		    &.taskType{
		    	.taskTemplateContainer{
		    		float:left;
		    		max-width: 550px;
		    	}
		    }
		    
		}
	}

	.assistorPanel{
		.teacherPanel{
			width:50%;
		}
		.infoSearchPanel{
			width: 50%;
		}
	}
}