.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut{
	stroke: blue;
}
.react-colorpicker-picker{
	z-index:10000;
}
form.upload{
	display:none;
}

.pageHome{
	.row{
		.item{
			cursor: pointer;
		}
	}
}

.radioGroup{
	.item{
		float:left;

		label{
			float:none;
		}

		input[type="radio"]{
			margin: 0 5px;
		}
	}
}

.line2{
	margin-top: 30px;
	clear: both;
	float: left;

	>label{
		width: 100%;
	}
}
.line{
    margin-top: 10px;
    clear: both;
    float: left;

    >label{
    	width: 100px;
    	float:left;
    }

    &.name input{
		border-radius: 4px;
	    box-shadow: none;
	    border: solid 1px #ccc;
	    height: 34px;
	    margin-top: -4px;
	    padding: 0 5px;
    }

    &.desc textarea{
	    width: 300px;
	    height: 150px;
	    border: solid 1px #ccc;
	    border-radius: 4px;
	    padding: 5px;
    }

    .datetime{
    	width: 172px;
	    float: left;
	    margin-top: -6px;
    }

	.cdropdown button{
	    border-radius: 2px;
	    width: 150px;

	    .caret{
	        float: right;
			margin-top: 7px;

	    }
	}


	.listContainer{
		float:left;
		width: 550px;

		.list-group{
    		margin-bottom: 0;

    		.list-group-item{
    			height: 43px;

    			.radioGroup{
    				float:right;
    			}

				button.btn{
					float:right;
				    margin: 0 5px;
					padding: 0 10px;
				}
    		}
    	}
    }

    &.privacy{
    	.options{
    		float: left;
    		label, input{
    			margin: 0 5px 0 0;
    		}
    	}
    }

    &.attachedFiles{
    	.attachmentList{
    		float:left;
    		width: 550px;
    		
    	}
    }

    &.taskType{
    	.taskTemplateContainer{
    		float:left;
    		max-width: 550px;
    	}
    }
    
}

.pageTask{
	.taskList{
	    background-color: #ccc;
	    border: solid 3px #ddd;
	    border-radius: 4px 4px 0 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    height: 50px;
	    width: 100%;
	    display: block;
	    margin: 0 0 10px 0;

	    .addTaskBtn{
		    background-color: #337ab7;
		    padding: 1.2em 1.6em 1.4em;
		    margin: 0 5px 2px 5px;
		    float: left;
		    cursor:pointer;
	    }
	    .task{
		    margin-top: 3px;
		    margin-left: 2px;
		    float: left;
		    cursor:pointer;
		    text-decoration:none;
	        display: inline;
		    padding: .2em .6em .3em;
		    font-size: 75%;
		    font-weight: 700;
		    line-height: 1;
		    color: #fff;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: baseline;
		    border-radius: .25em;
	    }
	}

	.taskPopup{
		padding-bottom: 100px;
		

	}

	#MsgBoxWrapper.assistorMsg{
		.MsgBoxMain{
			width: 100%;
			height: 100%;
			top: 0;

			.assistorPopup{
				background: white;

				.teacherPanel{
					width:50%;display:none;
				}
				.infoSearchPanel{
					width: 100%;

					.line.condition{
					    padding: 10px 0;
					    background: white;
					    clear: both;
					    margin: 0;
					    width: 100%;

						>label{
							float:left;
							margin: 0 10px;
						}

						.cdropdown{
							button{
								border-radius: 4px;

								.caret{
									float:right;
									margin: 7px 0 0 0;
								}
							}
						}
						.searchBtn{
						    margin: 2px 10px;
		    				padding: 0 10px;
						}
					}

					.panel.panel-default{
						float:left;
						margin-bottom:0;

						.tableSession{
							float:left;
						    width: 45%;
						    border-right: 1px solid #ccc;
						    box-sizing: border-box;
						    height: 600px;

							.projectDom{
								.panel-heading{
								    color: #333;
									background-color: #f5f5f5;
									border-color: #ddd;
								}
							}
						}
						.chartSession{
							float:left;
							width: 50%;
							.panel-body{
								.axisControl{
									float:left;

									.line{
										&.x{
											.xAxisInput{
											    border-radius: 3px;
											    border: solid 1px #ccc;
											    width: 150px;
											    padding-left: 10px;
											    
											}
											.hint{
												margin-left: 10px;
											}
										}
									}
								}
								.ct-chart {
									float:left;
								}
							}
						}
					}
				}
			}
		}
		
	}

}