.uploadExcel{
    width: 600px;
    height: 400px;

    .fileArea{
        width: auto;
        height: auto;
        background: red;
        background: #eee;
        border: solid 2px #aaa;
        border-radius: 4px;
        color: #aaa;
        font-size: zh;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    .ct-chart{
        
        svg{
            .ct-series.ct-series-a {
                .ct-point, .ct-line{
                    stroke: #46aac4;
                }
            }

            .ct-series.ct-series-b {
                .ct-point, .ct-line{
                    stroke: #f69240;
                }
            }

            .ct-series.ct-series-c {
                .ct-point, .ct-line{
                    stroke: #4a7ebb;
                }
            }
            .ct-series.ct-series-d {
                .ct-point, .ct-line{
                    stroke: #a7c36f;
                }
            }

            .ct-series.ct-series-e {
                .ct-point, .ct-line{
                    stroke: #be4b48;
                }
            }

            .ct-series.ct-series-f {
                .ct-point, .ct-line{
                    stroke: #7d60a0;
                }
            }
            .ct-series.ct-series-g {
                .ct-point, .ct-line{
                    stroke: #ff0000;
                }
            }
            .ct-series.ct-series-h {
                .ct-point, .ct-line{
                    stroke: #00ff00;
                }
            }

            .ct-series.ct-series-i {
                .ct-point, .ct-line{
                    stroke: #0000ff;
                }
            }
            .ct-series.ct-series-j {
                .ct-point, .ct-line{
                    stroke: #04fced;
                }
            }
            .ct-point{
                stroke-width: 4px;
            }
        }
        
    }

    .excelTable{
        width: 100%; 
        font-size: 11px; 
        overflow-x: auto; 
        background-color: 
        rgba(0, 0, 0, 0.1); 
        padding: 10px;

        th{
            min-width: 80px;

            input{
                float:left;
            }
            .markcolor{
                width: 10px;
                height: 10px;
                float: left;
                display: table-cell;
                margin-top: 5px;
                margin-left: 5px;

                &.color0{
                    background: #46aac4;
                }
                &.color1{
                    background: #f69240;
                }
                &.color2{
                    background: #4a7ebb;
                }
                &.color3{
                    background: #a7c36f;
                }
                &.color4{
                    background: #be4b48;
                }
                &.color5{
                    background: #7d60a0;
                }
                &.color6{
                    background: #ff0000;
                }
                &.color7{
                    background: #00ff00;
                }
                &.color8{
                    background: #0000ff;
                }
                &.color9{
                    background: #04fced;
                }
            }
        }
    }
}