#MsgBoxWrapper.staticalPopup >.MsgBoxMain{
	width:100%;
	height: 100%;
	top:0;

	.staticalassistorpopup{
	    width: 100%;
    	height: 100%;

    	.line{
    		width: 100%;
    	}

		.trees{
			width: 50%;
			float: left;

			.datatree{
				float:left;
				width: 50%;
			}
		}

		.tableChart{
			width: 50%;
			float: left;
		}
	}

	
}