.ct-chart{
    clear:both;
    float: left;
    width: 600px;
    margin-top:10px;

    svg{
        .ct-series.ct-series-a {
            .ct-point, .ct-line{
                stroke: #46aac4;
            }
        }

        .ct-series.ct-series-b {
            .ct-point, .ct-line{
                stroke: #f69240;
            }
        }

        .ct-series.ct-series-c {
            .ct-point, .ct-line{
                stroke: #4a7ebb;
            }
        }
        .ct-series.ct-series-d {
            .ct-point, .ct-line{
                stroke: #a7c36f;
            }
        }

        .ct-series.ct-series-e {
            .ct-point, .ct-line{
                stroke: #be4b48;
            }
        }

        .ct-series.ct-series-f {
            .ct-point, .ct-line{
                stroke: #7d60a0;
            }
        }
        .ct-series.ct-series-g {
            .ct-point, .ct-line{
                stroke: #ff0000;
            }
        }
        .ct-series.ct-series-h {
            .ct-point, .ct-line{
                stroke: #00ff00;
            }
        }

        .ct-series.ct-series-i {
            .ct-point, .ct-line{
                stroke: #0000ff;
            }
        }
        .ct-series.ct-series-j {
            .ct-point, .ct-line{
                stroke: #04fced;
            }
        }
        .ct-point{
            stroke-width: 4px;
        }
    }
}

.curveComponent{
    .panel-body{
        padding-bottom: 0;
    }
}